<p>employee works!</p>
<div class="row">
    <div class="col-4">
    <h1>{{employName}}</h1>
    <input type="text" value="{{enpId}}" placeholder="type">
    </div>
    <div [class]="myClass">
    Hi
    </div>
    <div>
    <!-- <button class="btn-success" onclick="showAlert('welcome Angular 18')">show Welcome</button> -->
    <button class="btn-success" (click)="showAlert('welcome Angular 18')">show Welcome</button>
    <span (click)="showAlert('This is from span')">Click Me</span>
    <button class="btn-success" (click)="changeCourse()">Change Name</button>
    </div>
    <div>
        <input type="text"[(ngModel)]="employName"/> - {{employName}}
        <input type="checkbox"[(ngModel)]="isBangladeshi"/>
        <select [(ngModel)]="startName">
            <option value="">Select</option>
            <option value="Kasfi">Kasfi</option>
            <option value="kari">kari</option>
        </select>
        <h1>{{MyFatherName()}}</h1>
    </div>
</div>